paths:
  raw: "data-raw"
  out: "outputs"

project:
  name: "E_Pick"
  analysis_round: "Analysis_02"

modes:
  rna:
    files:
      counts:     "data/rna/raw_counts.csv"
      sample_map: "data/rna/sample_map.csv"
      metadata:   "data/rna/meta_rna.csv"
      contrasts:  "data/rna/contrasts_rna.csv"
    id_columns:
      gene_id:   "gene_id"
      sample_col: "SampleID"
      map_from:  "sample_original_name"
      map_to:    "SampleID"
    normalization:
      method: "TMMlogCPM"   # or "VST"
      prior.count: 1
    filter_tpm: 3
    effects:
      color: "label"     
      shape: "line"       
      samples: "SampleID"   

  proteomics:
    engine: "DIANN"         
    files: 
      protein:    "data/proteomics/protein_matrix.csv"
      sample_map: "data/proteomics/sample_map.csv"
      metadata:   "data/proteomics/meta_prot.csv"
      contrasts:  "data/proteomics/contrasts_prot.csv"
    id_columns:
      protein_id: "Protein.Group"
      protein_annot:
          - "Protein.Names"
          - "Genes"
          - "First.Protein.Description"
          - "N.Sequences"
          - "N.Proteotypic.Sequences"
      map_from: "sample_orig_name"   # names in the protein matrix columns
      map_to:   "SampleID"               # final unified sample ID
    filtering:
      min_count:
        default: 3
        # or, if different per condition:
        # C: 3
        # T: 3
        # SH: 2  
    min_peptides: 2
  
    limma:
      no_repetitions: 10        # Number of multiple imputations
      min_no_passed: 8          # Stability threshold (>= 8/10)
      use_adj_for_pass1: true   # Use adj.P.Val for pass1 (otherwise P.Value)
      p_cutoff: 0.05
      linear_fc_cutoff: 1.5

    normalization:
      method: "none"    # or "median" 

    imputation:
      method: "perseus"     # "none", "perseus", or "dep2"
      width: 0.2            # Perseus-style width
      downshift: 1.6        # Perseus-style downshift
      dep2_method: "MinDet"       # used only if method: "dep2"
      dep2_random_seed: 1         # for reproducibility
   
    effects:
      color: "Condition"
      shape: null
      samples: "SampleID"

  metabolomics:
    effects:
      color: "label"
      shape: null         
      samples: "SampleID"

  lipidomics:
    effects:
      color: "label"
      shape: null
      samples: "SampleID"



params:
  seed: 1

